# Copy this file to .env and fill in your real values
# NEVER commit .env to git

MONGODB_URI=mongodb+srv://niranjan13012007_db_user:6UWeRGMmypiUP6Np@atm-system.5r3jmfc.mongodb.net/optivest?appName=ATM-System
JWT_SECRET=1374119de51a2a58a1b1ac10f5e3033ecc5af4f24c39e2319727adebd7e8b9beca8c12691eca0ca15d70e77a29e6e11ce70d236b0f70ac3e7eb8efdae4d7f3b3
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
